/* Toggle switch container */
.toggle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  /* Hide the default checkbox */
  input[type="checkbox"] {
    display: none;
  }
  
  /* The slider (round part of the switch) */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
  }
  
  /* When the checkbox is checked, slide the circle to the right */
  input[type="checkbox"]:checked + .slider {
    background-color: rgb(255, 115, 0);
  }
  
  input[type="checkbox"]:checked + .slider:before {
    transform: translateX(26px);
  }
  